.main1{
background-image:  url("./images/2galaxy.gif");
background-size:cover;
filter:brightness(150%);
}
.main{
margin-top:90px;
text-align:center;
margin-left:auto;
margin-right:auto;
color:#F69D39;

}
.img{
width:100px;
}

.list{
display:flex;
justify-content:center;
height:160px;
margin-right:auto;
margin-left:auto;
width:400px;
padding-right:30px;
padding-top:-20px;
margin-bottom:-90px;
}
